<html>
<head>
   <meta charset="UTF-8" />
    <title>KBS_Book</title>
</head>
<body>
    <h1><a href = "/books/"><%= title %></h1></a>
    <ul>        
        <li>제목 : <%=info.title %> 의 정보가 삭제되었습니다.</li> 
    </ul>
</body>
</html>